@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    font-size: 14px;
    font-family:'Open Sans', sans-serif; 
    line-height: 1;

}
body a{
    color: inherit;
}

.header{
    position: relative;
    background-color: #F8F8F8;
   
}
/*sub-menu */
.sub-menu {
    width: 25px;
    position: absolute;
    right: 4%;
    transform: translateY(-50%);
    top: 50%;
    z-index: 999;
    
    display: none;
}
.sub-menu div {
    cursor: pointer;
    width: 25px;
    height: 3px;
    background-color: red;
    margin: 5px;
    transition: transform 0.5s linear;

}
.header::before{
    content: '';
    position: absolute;
    left: 0;
    top:190px;
    background-color:rgba(244,244,244, 0.3) ;
    width: 100%;
    height: 0.2px;
    z-index: 20;
}
.header-img{
      
    color: #2C4985;
    margin-top: 5px;
    position: relative;
    z-index: 9;
    padding: 0;
}
.header-img >p{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 10px;
}

.header-content{
    margin-top: 20px;
    
}
.content-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-item:not(:first-child){
    margin-left: 76px;
}
.content-info{
    margin-left: 16px;
}
.content-info > p,
.content-info > span{
    font-family: 'Montserrat', sans-serif;
}
.content-info > p{
    color: #1A3761 ;
}
.content-info > span{
    color: #EE1F23;
    font-weight: 500;
    line-height: 1.5;
}

.header-menu{
    position: relative;
    z-index: 5;
    top:27px
}
.menu-list{
    display: flex;
    justify-content: center;
} 
.menu-item{
    margin-right: 74px;
}
.menu-link{
    position: relative;
    text-transform: uppercase;
    color: #FFFF;
    padding-bottom: 21px;
    font-weight: 400;
    line-height: 1.5;
}
.menu-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #FFFF;
    color: #FFFF;
    transform: scale(0);
    transition: 0.3s linear;
    
}
.menu-link:hover{
    color: #FFFF;
}
.menu-link:hover::before{
    color:#FFFF;
    transform: scale(1);
}
.banner{

    position: relative;
    background: url("../imager/image\ 3.jpg") no-repeat center/cover ;
  
    top: -60px;
    min-height: 886px; 
}
.banner::after{
   content: '';
   position: absolute;
   
   width: 27vw;
   height: 35px;
   background-color: #F8F8F8;
   left: 0;
   top: 0;
}
.banner::before{
    content: '';
    position: absolute;
    left: 27vw;
    top: 0;
    width: 35px;
    height: 35px;
    background-color:  #F8F8F8 transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid #F8F8F8;
    z-index: 2;
}


.banner-content{
   padding-top: 290px;
    z-index: 4;
    display: flex;
    justify-content: space-between;
}
.banner-title {
    max-width: 65%;

}
.banner-text {
    display: block;
    font-size: 46px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFFF;
    font-family: 'Mulish',sans-serif;
    

}
.banner-icon{
    flex-direction: column;
    position: absolute;
    top:70%;
    left: 75%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 4;
    display: flex;
    justify-content: end;
}
.banner-icon > a:nth-of-type(2){
    margin: 30px 0;
}
.banner-icon{
    max-width: 35%;
}
.banner-icon a img{
    transition: 0.3s;
}
.banner-icon a:hover img{
    transform: scale(1.6);
}
.banner-description{
    font-size: 16px;
    max-width: 90%;
    font-weight:300;
    margin-top: 20px;
    line-height: 1.4;
    color: #FFFF;
    margin-bottom: 70px;
}
.banner-angle img{
    position: absolute;
    left: 48%;
    z-index: 99;
    bottom: 0;
    transform: translateX(-50%);

    
}

.banner-angle::before{
    content: '';
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    bottom: 0;
    width: 28px;
    height: 28px;
    border-left: 28px solid transparent;
    border-bottom: 28px solid #FFFF;
    border-right: 28px solid transparent;    
    z-index: 4;
}
.click{
    position: relative;
    padding: 14.4px 51px;
    background-color: #EE1F23;
    color: rgba(255, 255,255, 0.7);
    line-height: 1;
    transition: 0.5s;
    height: 48px;
    
}
.click:hover{
    background-color:rgb(10, 143, 219);
    color: rgba(255, 255,255, 1);

}
.click .arrow{
    position: absolute;
    top: 0;
    color: black;
    left: 100%;
    background-color: #F8F8F8;
    width: 48px;
    text-align:center ;
    height: 47px;
    padding: 14px;
}
.banner-angle{
    padding-top: 30px;
}
.banner-item{
    display: flex;
}
.item-icon{
position: relative;
}
.item-icon img{
    max-width: 100%;
}
.icon-text{
    width: 327px;
    position: absolute;
    padding: 30px 18px 62px 68px;
    background-color: #265BC5;
    bottom: -40px;
    left: 65%;
    transform: translateX(-50%);
}
.icon-text div{
    position: absolute;
    left: -3vw;
    top: 2vw;
}
.icon-text p{
   
    font-family: 'Mulish',sans-serif;
    font-size: 20px;
color: white;
    line-height: 23.44px;
}

.item-text{
    margin-left: 10px;
}
.item-text .text-ozone{
    font-family: 'Mulish',sans-serif;
    font-size: 14px;
    color: crimson;
    line-height: 16.41px;
}
.item-text .text-name{
    font-family: 'Mulish',sans-serif;
    font-size: 44px;
    margin-top: 14.16px;
    line-height: 49,22px;
}
.item-text .text-nd{
    font-family:'Open Sans', sans-serif; 
    font-size: 16px;
    line-height: 21px;
    color: rgb(56, 55, 55);
    width: 400px;
    margin-top: 29px;
}
.item-text a{
top: 72px;
}
.banner-main .container{
    background: url(../imager/Rectangle\ 331.jpg);
    max-width: 100%;
    margin-top: 5vw;

}
 .banner-main .banner-main-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10vw 10vw;
    
    
  
}
.row-item{
    background-color: white;
}
.row-item:nth-child(2){
    background: url(../imager/Rectangle\ 320.png);
   
}
.row-item:first-child{
    border-bottom: 1px solid #265BC5;
}
.row-item:hover{
    background-color: #265BC5;
    color: #F8F8F8 ;
}
.row-item:hover > .comment p{
    color: white;
}
.icon{
    display: flex;
    justify-content: space-between;
    padding: 1vw 2vw;
}
.comment{
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
}
.comment p{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #303030;
}
.comment p:first-child {
    font-family: 'Mulish',sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #265BC5;

}
.row-item:nth-child(2) .comment p{
    color: rgb(253, 253, 253);
}
.banner-ozone .row{
    margin-top: 5vw;
}
.row-top{
    
    margin-bottom: 12px;
   text-align: center;
}

.row-main{
     transition: 0.3s;
}
 .row-main .img-hover{
    overflow: hidden;
}
.img-banner{
    transition: 0.3s;

}
.row-main:hover .img-banner{
    transform: scale(1.06);
}
.row-main:hover {
    transform: scale(1.01);
}
.row-top p{
    color: rgb(236, 9, 9);
    left: 40.94%;
    right: 44.36%;
    top: 0%;
    bottom: 97.46%;
    font-family:'Mulish',sans-serif;
    font-size: 14px;
    line-height: 16px;
   
    letter-spacing: 0.3em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.row-top span{
    left: 41.11%;
    right: 44.36%;
    top: 4.51%;
    bottom: 88.03%;
    font-family: 'Mulish',sans-serif;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: #303030;
}
.row-main .main-body{
    padding: 2vw 1vw;
}
.main-body h1{
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #333333;
}
.main-body p{
    font-family: 'Montserrat',sans-serif;
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
}
.row-footer{
    margin-top: 3vw;
    justify-content:space-between;
    border-top:  1px solid #E0E0E0;
}
.row-footer a{
    margin-top: 2vw;
    color: #000;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.banner-faback{
    margin-top: 3vw;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url(../imager/feedback_image.png) no-repeat center/cover;
    min-height: 838px;
}
.banner-faback .row-top{
    margin-top: 3vw;
    margin-left: 2vw;
}
.slider-item{
    position: relative;
    z-index: -1;
    padding-bottom: 20px;
}
.slider-item img{
    max-width: 100%;
}
.slider-icon{
    position: absolute; 
    font-family: 'Open Sans',sans-serif;
    bottom: 0;
    left: 70%;
    padding: 10px 5px 30px 20px;
    width: 50%;
    z-index: 999;
    color: white;
    background-color: #265BC5;
    transform: translateX(-50%);
}

.slider-icon p{
font-size: 16px;
line-height: 22px;
}
.slider-icon span{
    font-size: 12px;
    line-height: 16px;

}
.slider-text{
    max-width: 100%;
    margin-left: 120px;
    position: relative;
    padding-top: 25px;
}
.slider-text img{
    position: absolute;
    left: -70px;
    top: 12px;
}
.slider-text p{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #505050;
   max-width: 524px;
}
.slider-banner{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}
.slider-banner img{
    width: 203px;
    height: 73px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #EE1F23;
    border-radius: 100%;
    border: 1px solid #265BC5;
}
.slick-dots li button:before {
    font-size: 22.5px;
}
.slick-dots {

    bottom: 63px;
}
.banner-info{
    margin-top: 32px;
    position: relative;
    background: url(../imager/Rectangle\ 331.jpg) no-repeat center/cover;
    width: 100%;
    min-height:212px;
    z-index: 1;
}
.banner-info::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #265BC5;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.955;
}
.info-list{
    
    justify-content: space-between;
    z-index: 999;
    color: #FFFF;
}
.list-item h2{
    font-family: "Mulish",sans-serif;
    font-size: 42px;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFF;
    padding: 81px 0;
}
.list-item:not(:first-child){
    text-align: center;
    padding: 55px 0px;
}
.list-item p{
    margin-top: 15px;
    font-family: 'Open Sans',sans-serif;
    line-height: 20.6px;
}
.banner-footer{
    padding-top: 50px;
    background:#F3F3F6;;
}
.footer-top{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    padding-bottom: 100px;
}
.footer-logo{
    padding-bottom: 40px;
}
.footer-name{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15px;
}
.footer-desc{
    font-size: 15px;    
    font-weight: 400;
    color: #505050;
    line-height: 1.5;
    
}
.footer-menu{
    margin-left: 60px;
}
.item-menu{
    font-size: 20px;
    font-weight: bold;
    color: #265BC5;
    padding-bottom: 20px;
}
.footer-list{
    margin-left: 20px;
}
.footer-item{
    list-style-type: disc;
    margin-bottom: 20px;
}
.footer-item::marker{
    color: #EE1F23;
}
.footer-item a{
    color: #505050;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.footer-map{
    margin-left:100px;
}
.form-title{
    font-size: 20px;
    font-weight: bold;
    color: #265BC5;
    padding-bottom: 20px;
}
.form-sub{
    
    font-size: 15px;
    line-height: 1.5;
    color: #505050;
    margin-bottom: 8px;
}
.form input {
    width: 235px;
    padding: 13px 39px 12px 12px;
    outline: none;
    border: 1px solid #CAD3DF;
    background-color: #ECEFF4;
}
.form{
    position: relative;
    margin-bottom: 20px;
}
.form input:focus{
    outline: none;
 
}
.form-action {
    position: absolute;
    right: -28px;
    bottom: 0;
    transform: translateX(-30px);
    padding: 16px 22.5px;
    line-height: 1;
    background-color: red;
}
.footer-bottom{
    border-top: 1px solid #D7D7D7;
}
.row-bottom{
    border-top: 1px solid #D7D7D7;
}
.bottom{
    display: flex;
    justify-content: center;
}
.bottom li{
    padding: 2vw;
  
}
.footer-menu .footer-list .footer-item a{
    transition: 0.3s;
}
.footer-menu .footer-list .footer-item:hover a{
    color: rgb(245, 6, 6);
}
